@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #262262;
    --secondary-color: #ED2624;
    --text-color: #1e1e1e;
}
.card-icon{
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.card-text{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.card-staff-number{
    font-weight: 800;
    color: #454545;
}
.dashboard-card{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
.dashboard-heading{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px 15px;
}
.dashboard-table-wrapper{
    width: 100% !important;
}
.staff-attendance,.cargo-movement,.dashboard-cargo-table{
    width: 100%;
}
.dashboard-overview{
    font-size: 22px;
    font-weight: 600;
    color: #1e1e1e;
    padding: 15px 0px 8px;
}
.dashboard-cargo-list-heading h1{
    font-size: 22px;
    font-size: 22px;
    font-weight: 600;
    color: #1e1e1e;
    padding: 15px 0px 8px;
}
